<% layout("/layouts/boilerplate") %>
<div class="row offset-2">
    <div class="col-8">
        <br>
        <h3>Purchase Details</h3>
        <br>
        <h4><%= listing.title %></h4>

        <img src="<%= listing.image.url %>" class="card-img-top show-img" alt="listing_image" >
        <div class="card-body">
          <p class="card-text">seller: <i><%= listing.owner.username %></i> </p><p class="card-text"><%= listing.location %> </p>
          <p class="card-text"> &#8377 <%= listing.price.toLocaleString("en-IN") %></p>
          
        </div>
        <br>
    </div>  

    <hr>
        
    <form method="POST" action="/listings/<%= currUser.id %>/orders" class="needs-validation">

        <div class="mb-3">
            <label for="title" class="form-label">Product</label>
            <h6> &nbsp;&nbsp;&nbsp;<%= listing.title %></h6>
        </div>
          
        <div class="mb-3">
            <label for="title" class="form-label">Buyer Name</label>
            <input 
             type="text" 
             name="buynow[buyerName]" 
             placeholder="enter name" 
             class="form-control" 
             required
            />
            <div class="valid-feedback">correct</div>
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Email</label>
            <input
            type="email"
             name="buynow[buyerEmail]"
             class="form-control"
             placeholder="enter email" 
             required
            />
            <div class="invalid-feedback">enter a valid email</div>
        </div>
        
        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Quantity</label>
                <input
                type="number"
                 name="buynow[quantity]" 
                 placeholder="5"
                 class="form-control"
                 required
                />
                <div class="invalid-feedback">enter quantity</div>
            </div>
        </div>

        <div class="row">
            <div class="mb-3 col-md-4">
                <label for="price" class="form-label">Total Price</label>
                <input
                type="number"
                 name="buynow[totalPrice]" 
                 placeholder="Rs 500"
                 class="form-control"
                 required
                />
                <div class="invalid-feedback">enter total price</div>
            </div>
        </div>

        <div class="mb-3">
            <label for="location" class="form-label">Shipping Address</label>
            <textarea
             type="address" 
             name="buynow[shippingAddress]"
             placeholder="street city state zipcode"
             class="form-control"
             required
            ></textarea>
            <div class="invalid-feedback">Please enter full address</div>
        </div>

        <div class="mb-3 col-md-4">
            <label for="orderdate" class="form-label">Order Date</label>
            <input
            type="date"
            name="buynow[orderDate]" 
            placeholder="10/02/2024"
            class="form-control"
            required
           />
           <div class="invalid-feedback">please enter a date</div>
       </div>

       <button class="btn btn-dark add-btn">Confirm Order</button>
            
        </div>
        <br><br>
    </form>
</div>
</div>



