<% layout("/layouts/boilerplate") %>
<div class="container mt-3">
  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 text-center">
      <h3><%= listing.title %></h3>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 mb-3">
      <div class="card show-card listing-card">
        <img
          src="<%= listing.image.url %>"
          class="card-img-top show-img img-fluid"
          alt="listing_image"
        />
        <div class="card-body">
          <p class="card-text">Seller: <i><%= listing.owner.username %></i></p>
          <p class="card-text"><%= listing.description %></p>
          <p class="card-text">
            &#8377; <%= listing.price.toLocaleString("en-IN") %>
          </p>
          <p class="card-text"><%= listing.location %></p>
          <% if(!(currUser && currUser._id.equals(listing.owner._id))) { %>
          <div class="d-grid gap-2">
            <a
              href="/listings/<%= listing._id %>/purchase"
              class="btn btn-success"
              >Buy Now</a
            >
            <a
              href="/listings/<%= listing._id %>/addtocart"
              class="btn btn-success"
              >Add to Cart</a
            >
          </div>
          <% } %>
        </div>
      </div>
    </div>
  </div>

  <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
  <div class="row">
    <div
      class="col-12 col-md-8 offset-md-2 mb-3 d-flex justify-content-between"
    >
      <a href="/listings/<%= listing._id %>/edit" class="btn btn-dark">Edit</a>
      <form method="POST" action="/listings/<%= listing._id %>/?_method=DELETE">
        <button class="btn btn-dark">Delete</button>
      </form>
    </div>
  </div>
  <% } %>

  <div class="row">
    <div class="col-12 col-md-8 offset-md-2 mb-3">
      <div class="card show-card listing-card">
        <div class="card-body p-0">
          <iframe
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d115133.01634131189!2d85.06064120856574!3d25.608014355214312!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x39f29937c52d4f05%3A0x831a0e05f607b270!2sPatna%2C%20Bihar!5e0!3m2!1sen!2sin!4v1705820794356!5m2!1sen!2sin"
            width="100%"
            height="450"
            style="border: 0"
            allowfullscreen=""
            loading="lazy"
            referrerpolicy="no-referrer-when-downgrade"
          ></iframe>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-12 col-md-8 offset-md-2">
      <hr />
      <% if(currUser) { %>
      <h4>Leave a Review</h4>
      <form
        action="/listings/<%= listing.id %>/reviews"
        method="POST"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3 mt-3">
          <label class="form-label" for="rating">Rating</label>
          <fieldset class="starability-slot d-flex">
            <input
              type="radio"
              id="no-rate"
              class="input-no-rate"
              name="review[rating]"
              value="1"
              checked
              aria-label="No rating."
            />
            <input
              type="radio"
              id="first-rate1"
              name="review[rating]"
              value="1"
            />
            <label for="first-rate1" title="Terrible">1 star</label>
            <input
              type="radio"
              id="first-rate2"
              name="review[rating]"
              value="2"
            />
            <label for="first-rate2" title="Not good">2 stars</label>
            <input
              type="radio"
              id="first-rate3"
              name="review[rating]"
              value="3"
            />
            <label for="first-rate3" title="Average">3 stars</label>
            <input
              type="radio"
              id="first-rate4"
              name="review[rating]"
              value="4"
            />
            <label for="first-rate4" title="Very good">4 stars</label>
            <input
              type="radio"
              id="first-rate5"
              name="review[rating]"
              value="5"
            />
            <label for="first-rate5" title="Amazing">5 stars</label>
          </fieldset>
        </div>

        <div class="mb-3 mt-3">
          <label class="form-label" for="comment">Comments</label>
          <textarea
            name="review[comment]"
            id="comment"
            cols="30"
            rows="5"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">
            Please add some comments for review
          </div>
        </div>
        <button class="btn btn-outline-dark">Submit</button>
      </form>
      <% } %>

      <br />
      <p><b>All Reviews</b></p>
      <div class="row">
        <% for(review of listing.reviews) { %>
        <div class="card col-12 mb-3">
          <div class="card-body">
            <h5 class="card-title">@<%= review.author.username %></h5>
            <p
              class="starability-result card-text"
              data-rating="<%= review.rating %>"
            >
              Rated: <%= review.rating %> stars
            </p>
            <p class="card-text"><%= review.comment %></p>
          </div>
          <% if(currUser && currUser._id.equals(listing.owner._id)) { %>
          <form
            class="mb-3"
            method="POST"
            action="/listings/<%= listing._id %>/reviews/<%= review._id %>?_method=DELETE"
          >
            <button class="btn btn-sm btn-dark">Delete</button>
          </form>
          <% } %>
        </div>
        <% } %>
      </div>
    </div>
  </div>
</div>
